@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

.myContainer{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .icons{
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 1;
      color: white;
      display: inline-block;
      font-size: 50px;

      a{
        transition: 0.5s;
        text-decoration: none;
        color:white;
        &:hover{
          color: rgb(141, 141, 141);
        }
        i{
          padding: 10px;
        }
      }
    }

    h3{
      font-family: 'Merriweather', ;
      letter-spacing: 1px;
      position: absolute;
      color:white;
      z-index: 1;
      text-transform: uppercase;
    }

    img{
        width: 100%;
        object-fit: cover;
        height: 400px;
        z-index: -1;
    }
    .transparentLayer{
        position: absolute;
        background: rgba(0, 0, 0, .4);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

    }

    
}

.postText{
  top: -35px;
  margin-bottom: 20px;
  padding: 60px 30px 20px 30px;
  height: fit-content;
  background: white;
  width: 55%;
  border-top: 3px solid #004D95;
  box-shadow: 11px 11px 27px rgba(0, 0, 0, 0.15);


  .imgList{
    list-style-type: none;
    padding: 0;
    li{
      display: inline-block;
      padding: 0px 8px;
      img{
        width: 180px;
        height: 180px;
        object-fit: cover;
        padding: 15px 10px;
      }
    }
  }

  
}


.lastPosts{
  height: fit-content;
  top: 50px;
  left: 5%;
  box-shadow: 11px 11px 27px rgba(0, 0, 0, 0.15);
  text-align: center;

  .one-last-post{

    .centered{
      transition: ease .5s all;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      width: 60%;
      height: 80%;
      color:white;
      border: 2px solid white;
      padding: 10px 28px;
      background: rgba(141, 141, 141, 0.44);
      &:hover{
        background: linear-gradient(0deg, rgba(0, 77, 149, 0.44), rgba(0, 77, 149, 0.44));
      }

      h5{
        font-size: 1.2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    h3{
      font-family: 'Merriweather' ;
    }

    .circleShape {
      position: absolute;
      color: white;
      text-align: center;
      width: 25px;
      height: 25px;
      background: black;
      /* right: 50%; */
      transform: translateX(10px);
      border-radius: 50%;
      border: 2px solid white;
    }


    img{
      padding: 10px 0px;
      width: 100%;
    }
  }
}

.footer{
  background: black;
  margin-top: 5%;
  color: white;
  text-align: center;
  padding: 20px;
}

.postCategory{
  position: absolute;
  background: linear-gradient(0deg, #004D95, #004D95);
  top: 10px;
  left: -16px;
  padding: 2px 6px 4px 40px;
  border-radius: 3px;
  color:white;
  text-transform: uppercase;


  span{
    display: block;
    text-align: right;
    font-size: 11px;
  }

  .triangleShape{
    width: 14px;
    height: 13px;
    position: absolute;
    bottom: 100%;
    background: linear-gradient(217.57deg, #00182F -26.69%, #003566 64.19%);
    left: 2px;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  }

}