<div class="myContainer">
    <h3>VJEŽBANJE U SERIJAMA POSTAJE MONOTONO</h3>
    <div class="icons">
      <a href="https://www.facebook.com/borovometropola"><i class="fab fa-facebook-square"></i></a>
      <a href="https://www.instagram.com/performance_by.ml/"><i class="fab fa-instagram"></i></a>
    </div>
    <img src="../../assets/images/bg.jpg" alt="">
    <div class="transparentLayer"></div>
</div>


<div class="container">
  <div class="row">
    <div class="col-9 postText">

      <div class="postCategory">
        3 dnevni trening
        <span>20.02.2020.</span>
        <div class="triangleShape"></div>
      </div>
      <h1>Something new</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
      ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
      in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
      anim id est laborum.</p>

      <ul class="imgList">
        <li><a href="https://www.telegram.hr/wp-content/uploads/2019/03/35658212823_3807aa8225_k-840x559.jpg"><img src="https://www.telegram.hr/wp-content/uploads/2019/03/35658212823_3807aa8225_k-840x559.jpg" alt=""></a></li>
        <li><a href="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg"><img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt=""></a></li>
        <li><a href="../../assets/images/bg.jpg"><img src="../../assets/images/bg.jpg" alt=""></a></li>
        <li><a href="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg"><img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt=""></a></li>
      </ul>
      
    </div>


      <div class="col-3 lastPosts">
        <h3>Posljednje objave</h3>
        <div class="row">
          
          <div class="col-12 one-last-post">
            <div class="circleShape">1</div>
              <div class="centered">
                <h5>Vježbanje u serijama postaje monotono</h5>
              </div>
            <img src="../../assets/images/bg.jpg" alt="">
          </div>

          <div class="col-12 one-last-post">
            <div class="circleShape">2</div>
              <div class="centered">
                <h5>Jačanje trbušnog zida</h5>
              </div>
            <img src="../../assets/images/bg.jpg" alt="">
          </div>

          <div class="col-12 one-last-post">
            <div class="circleShape">3</div>
              <div class="centered">
                <h5>Vježbe potrebne za jačanje prepona prije nogometa</h5>
              </div>
            <img src="../../assets/images/bg.jpg" alt="">
          </div>

        </div>
      </div>
  </div>
</div>

<div class="container-fluid footer">
 <div class="row">
  <div class="col-4">
    Kontakt: <br>mail@mail.com
  </div>

  <div class="col-4">
    <img width="140" height="70" src="../../assets/images/logo2.png" alt="">
  </div>

  <div class="col-4">
    Prati me: facebook instagram
  </div>
 </div>
</div>