<!--<div class="card w-50">
    <h1>PRIJAVA</h1>
    <form ngNativeValidate name="prijava" (ngSubmit)="Prijava()">
        <input class="input" type="text" name="k_ime" [(ngModel)]="k_ime" placeholder="Korisničko ime" required/>
        <input class="input" type="password" name ="lozinka" [(ngModel)]="lozinka" placeholder="Lozinka" required/>
        <input class="button" type="submit" value="Prijavi me">
    </form>
</div>-->

<div class="container">
    <div class="d-flex justify-content-center">
        <div class="card">
            <div class="card-header">
                <h3>PRIJAVA</h3>
            </div>
            <div class="card-body">
                <form ngNativeValidate name="prijava" (ngSubmit)="Prijava()" class="form-signin" >
                    <div class="input-group form-group">
                        <i class="fas fa-user icon"></i>
                        <input class="form-control" type="text" name="k_ime" [(ngModel)]="k_ime" placeholder="Korisničko ime" autofocus required/>
                    </div>
            
                    <div class="input-group form-group">
                        <i class="fas fa-lock icon"></i>
                        <input class="form-control" type="password" name ="lozinka" [(ngModel)]="lozinka" placeholder="Lozinka" required/>
                    </div>

                    <div class="form-group">
                        <input class="button" type="submit" value="Prijavi me" class="btn-register btn-block">
                        
                    </div>
                </form>
            </div>
            <a id="a-footer" class="" href="" routerLink="/registracija">
            <div class="card-footer">
                <p>Napravi novi korisnički račun</p>
            </div>
            </a>
        </div>
    </div>
</div>



<!--
<form name="prijava" #loginForm="ngForm" (ngSubmit)="Prijava(k_ime.value,lozinka.value)">
    <input type="text" name="k_ime" #k_ime ngModel placeholder="Korisničko ime" required>
    <input type="password" #lozinka ngModel name ="lozinka"  placeholder="Lozinka" required>
    <button>Prijava</button>
</form>-->

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Korisnicko ime</th>
            <th>Lozinka</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let kor of korisnici; let i = index">
            <td>{{ i+1 }}</td>
            <td>{{ kor.k_ime }}</td>
            <td>{{ kor.lozinka }}</td>
        </tr>
    </tbody>
</table>