.card{
    height: auto;
    margin-top: 7rem;
    margin-bottom: auto;
    width: 25rem;
    box-shadow: 0 0 3px rgb(0, 5, 5);
    .card-header{
        text-align: center;
    }

    .card-body p{
        text-align: center;
        color: red;
    }

    .icon {
        padding: 12px;
        color: black;
        min-width: 40px;
    }
    
    

    #a-footer{
        text-decoration: none;
        color: black;
        text-align: center;
        p{
            margin-top: 1rem;
        }
    }

//BUTTON
    .btn-register{
        border: none;
        cursor: pointer;
        color: white;
        padding: 0.9rem;
        font-size: 20px;
        border-radius: 3px;
        background-color: #004D95;
        transition-duration: 0.6s;
        outline: none;
        &:hover{
            color: white;
            background-color: rgb(36, 109, 151);
        }
        &:after{
            outline:none;
        }
    }
}




/*.card{
    margin: 2rem auto;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;

    form{
        
        .input{
            width: 50%;
            margin: 0.7rem;
            transition: 0.5s;
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom: 1px solid;
            border-color: #004D95;
            
            padding: 10px;
            &:focus{
                border: 2px solid #004D95;
                border-radius: 10px;
                outline:none;
                box-shadow: 10px 10px 8px #888888;
            }
        }

        .button{
            color: white;
            border-radius: 25px;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            background-color: #004D95;
            display: block;
            text-align: center;
            margin: 25px auto 0 auto;
            width: 50%;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 10px;
            padding-bottom: 10px;
            outline: none;
            transition: 0.5s;
            &:hover{
                outline: none;
                box-shadow: 10px 10px 8px #888888;
            }
            &:after{
                outline:none;
            }
        }
    }
}*/