<nav class="navbar navbar-expand navbar-light bg-grey">
  <a class="navbar-brand" href="#" routerLink="">
    MLFitness
  </a>
  <div class="collapse navbar-collapse justify-content-end">
    <div class="navbar-nav">
      <a class="btn" href="#" routerLink="/blog">BLOG</a>
      <div *ngIf="!myItem;else odjava">
        <a id="prijavaBtn" class="btn" href="#">PRIJAVA</a>
        <a id="registracijaBtn" class="btn" href="#">REGISTRACIJA</a>
      </div>
      
      <ng-template #odjava>
        <a id="korisnik" class="btn"> {{myItem}} </a>
        <a (click)="odjavaKorisnika()" id="odjavaBtn" class="btn">ODJAVA</a></ng-template>
    </div>
  </div>
</nav>



<div class="">
  <router-outlet></router-outlet>
</div>
