<h1>REGISTRACIJA</h1>
<form name="registracija" (ngSubmit)="Registracija()">
    <input type="text" name="ime" [(ngModel)]="ime" placeholder="Ime" required><br>
    <input type="text" name="prezime" [(ngModel)]="prezime" placeholder="Prezime" required><br>
    <input type="text" name="k_ime" [(ngModel)]="k_ime" placeholder="Korisničko ime" required><br>
    <input type="password" name ="lozinka" [(ngModel)]="lozinka" placeholder="Lozinka" required><br>
    <button>Registracija</button>
</form>

