.inactive{
  display:none;
}

article{
  height: 360px;
  position: relative;
  margin-bottom: 30px;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }

  .whiteRectangle{
    transition: ease .5s all;
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(141, 141, 141, 0.44);
    margin: 0;
    text-align: right;
    color: white;
    border-radius: 0 0 15px 15px;
    padding: 8px 10px;
    height: 82px;
    overflow: hidden;
    &:hover{
      background: linear-gradient(0deg, rgba(0, 77, 149, 0.44), rgba(0, 77, 149, 0.44));
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
      height: calc(100% - 100px);
    }

    h3{
      font-size: 22px;
      line-height: 34px;
    }


    &:hover .bottomRight{
      display: block;
    }

  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  .bottomRight{
    display: none;
    padding: 8px 10px;
    right: 0;
    bottom: 0;
    position: absolute;

    a{
      animation: fadein 1s;
      transition: ease .5s all;
      text-decoration: none;
      color:white;
      &:hover{
        color:#B8B8B8;
      }
    }
  }


  .postCategory{
    position: absolute;
    background: linear-gradient(0deg, #004D95, #004D95);
    top: 40px;
    left: -15px;
    padding: 2px 6px 4px 40px;
    border-radius: 3px;
    color:white;
    text-transform: uppercase;

    span{
      display: block;
      text-align: right;
      font-size: 11px;
    }

    .triangleShape{
      width: 14px;
      height: 13px;
      position: absolute;
      bottom: 100%;
      background: linear-gradient(217.57deg, #00182F -26.69%, #003566 64.19%);
      left: 2px;
      clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    }

  }
}


#addPostBtn{
  display: flex;
  justify-content: center;
  margin: 15px 50%;
  &:hover{
    cursor: pointer;
  }
}

.newBlogForm{
  animation: fadein 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input[type=text]{
    font-size: 20px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
    outline: none;
    width: 60%;
    /* text-align: center; */
    padding: 5px;
    transition: .2s;
    &:focus{
      border: 1.5px solid #0071DA;
    }
  }

  select{
    font-size: 20px;
    width: 60%;
    margin: 10px 0px;
    padding: 5px;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
    outline: none;
    transition: .2s;
    &:focus{
      border: 1.5px solid #0071DA;
    }
  }

  .button-post{
    outline: none;
    font-size: 20px;
    width: 20%;
    letter-spacing: 2px;
    border: 1.5px solid rgb(216, 216, 216);
    box-sizing: border-box;
    border-radius: 5px;
    background: none;
    padding: 1px 15px;
    margin: 5px;
    transition: 0.5s;
    &:hover{
      background:  rgb(216, 216, 216);
    }
  }

}

.footer{
  background: black;
  color: white;
  text-align: center;
  padding: 20px;
}