<section id="blogPosts" class="blogPosts">
  <i id="addPostBtn" class="fas fa-plus-circle fa-3x"></i>
  <div class="container">
    <div  class="row">
      <div *ngFor="let bl of blogovi;" class="col-md-4">
        <article>
          <img src="../../assets/images/bg.jpg" alt="">
          <div class="whiteRectangle">
            <h3>{{ bl.naslov }}</h3>
            <div class="bottomRight">
              <a href="#" [routerLink]="['/blogPost', bl.blog_id]" >Pročitaj više <i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>
          <div class="postCategory">
            {{ bl.kategorija }}
            <span>{{ bl.niceDate }}</span>
            <div class="triangleShape"></div>
          </div>
        </article>
      </div>
    </div>
  </div>

</section>


<div id="newBlog" class="container inactive">
  <form #formData="ngForm" (ngSubmit)="dodajBlog(formData)" class="newBlogForm" ngNativeValidate name="newBlog">
    <h1>Novi blog</h1>
    <input [(ngModel)]="blog.naslov" type="text" name="naslov" placeholder="Naslov bloga" required>
    <select [(ngModel)]="blog.kateogrija" name="kategorija" id="kategorija">
      <option value="3 dnevni trening">3 dnevni trening</option>
      <option value="prevencija ozljeda">Prevencija ozljeda</option>
      <option value="stabilnost">Stabilnost</option>
    </select>
    <p-editor [(ngModel)]="blog.blogTekst" [style]="{'height':'300px'}" name="blogTekst" ></p-editor>
    <input class="button-post" type="submit" value="POST">
  </form>
</div>

  

<div id="footer" class="container-fluid footer">
  <div class="row">
   <div class="col-md-4">
     Kontakt: <br>mail@mail.com
   </div>
 
   <div class="col-md-4">
     <img width="140" height="70" src="../../assets/images/logo2.png" alt="">
   </div>
 
   <div class="col-md-4">
     Prati me: facebook instagram
   </div>
  </div>
</div>