@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$colors: (
    primary: black,
    accent: rgb(192, 192, 192)
);

@function color($color-name){
  @return map-get($colors, $color-name);
}

body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}


/* .container {
width: 80%;
margin: 0 auto;
}

header{
    background-color: map-get($map: $colors, $key: accent);
    padding: 1em 0;


    .logo {
        color: white;
        text-decoration: none;
        margin: 0 10px;
    }

    .nav{
        float: right;
    }
    .menu {
        margin: 0;

        a {
            clear:right;
            text-decoration: none;
            color: white;

            padding: 0.7em;
            &:hover {
                background: grey;
            }
        }
    }

    label{
        margin: 0;
        font-size: 30px;
        display: none;
        width: 26px;
        float: right;
    }

    #toggle{
        display: none;
    }

    @media only screen and (max-width: 500px){
        label{
            color: white;
            display:block;
            cursor:pointer;
        }

        .menu {
            float: right;
            width:100%;
            display: none;
        }

        .menu a {
            display: block;
            margin: 0;
        }
        #toggle:checked  ~ .menu{
            display:block;
        }
    }
} */

header {
    background-color: color(accent);
    padding: 1em 0;
    width: 100%;
    

    a{
        color: white;
        text-decoration: none;
    }

    a.logo{
        font-weight: bold;
    }

    nav{
        float: right;
        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a{
                padding: 0.7em;

                &:hover {
                    background: grey;
                }
            }
        }
    }
}

$desktop: 595px;

@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
    }
}

/*body{
    margin: 0;
    
        #i1 {
            clip-path: polygon(100% 0, 100% 77%, 58% 100%, 0 100%, 0 0);
            position: relative;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover; 
            height: calc(100vh);
            background: linear-gradient(0deg, rgba(0, 77, 149, 0.17), rgba(0, 77, 149, 0.17)), url("./assets/images/bg.png");
       

        @include desktop{
            clip-path: polygon(0 0, 100% 0, 64% 100%, 0 100%);
        }

    }
}*/

