$colors: (
    primary: black,
    accent: rgb(192, 192, 192)
);

@function color($color-name){
  @return map-get($colors, $color-name);
}

$border: 15px;
$padding: 10px;

$desktop: 595px;

@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
    }
}


.right.active {
  display: block;
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.right{
  animation: fadein 2s;
  display: none;
  position: absolute;
  text-align: right;
  width: 35%;
  padding: $padding;
  padding-right: 25px;
  right: 0;
  top: 45%;
  transform: translateY(-50%);

  h1{
      font-size: 2.1em;
      text-transform: uppercase;
  }

  .button{
    color: white;
    border-radius: $border;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #004D95;
    display: block;
    text-align: center;
    margin: 25px auto 0 auto;
    padding: $padding;
    &:hover span {
        padding-right: 25px;
    }
}

.button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    text-decoration: none;
    &:after{
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
}
  .button:hover span:after {
      opacity: 1;
      right: 0;
  }
}

.bg {
  // position: absolute;
  // background-image: url("../../assets/images/709.png");
  // background-size: cover;
  // background-repeat: no-repeat;
  // width: 50%;
  // height: 100%;

  //S transformacijom
  // width: 100%;
  // height: 100vh;
  // top: 0;
  // overflow: hidden;
  // transform: skew(20deg) translateX(-50%);

    position: absolute;
    width: 50%;
    top: 0;

}


.bg img {
    //S transformacijom slike
    /*width: 115%;
    height: 100%;
    object-fit: cover;
    transform: skewX(-20deg);*/
    //S polygonom
    width: 135%;
    height: 100vh;
    clip-path: polygon(0 0, 56% 0, 100% 100%, 0% 100%);
    z-index: -1;
}

.input{
  width: 80%;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  text-align: center;
  margin: 15px;
  font-style: italic;
  line-height: 44px;
  font-size: 26px;

  &:focus{
    border-bottom: 2.2px solid #0071DA;
  }
}

.buttonPrijaviSe{
  border: 1.5px solid #323232;
  box-sizing: border-box;
  border-radius: 5px;
  background: none;
  width: 50%;
  padding: 10px;
  transition: 0.5s;
  &:hover{
    background-color: #F5F5F5;
  }
}


.prijava{
  text-align: center;

  h1{
    font-weight: bold;
    font-size: 38px;
  }

  img{
    position: absolute;
    top: -33%;
    left: -60%;
    //transform: translate(-240%, -70%);
  }
}

.icon-x{
  color: black;
  min-width: 40px;
  //transform: translate(240%, -140%);
  position: absolute;
  top: -33%;
  right: 3%;
  cursor: pointer;
}

.icon-x-reg{
  color: black;
  min-width: 40px;
  //transform: translate(240%, -60%);
  position: absolute;
  top: -15%;
  right: 3%;
  cursor: pointer;
}

.registracija{
  text-align: center;

  h1{
    font-weight: bold;
    font-size: 38px;
  }

  img{
    position: absolute;
    top: -15%;
    left: -60%;
    //transform: translate(-240%, -30%);
  }
}


