<div class="">
<div class="bg">
  <img src="../../assets/images/bg.jpg">
</div>

<section>
    <div id="home" class="right home active">
        <h1>Athletic performance/Fitness & Health</h1>
        <p>Početnik si i ne znaš kako krenuti sa zdravim životom? Pogledaj moje programe i pokreni se.</p>
        <a class="button" href="#" routerLink="/blog"><span>Pregledaj programe</span></a>
    </div>

    <div id="prijava" class="right prijava">
      <img src="../assets/images/logo4.png" width="140" height="70" alt="">
      <i class="far fa-times-circle fa-3x icon-x closeBtn"></i>
        <h1>Prijava</h1>
        <form #formData="ngForm" ngNativeValidate name="prijava" (ngSubmit)="Prijava(formData)">
          <input class="input" [(ngModel)]="korisnik.email" type="email" name="email" placeholder="E-mail" #email="ngModel" required/><br>
          <input class="input" [(ngModel)]="korisnik.lozinka" type="password" name ="lozinka" placeholder="Lozinka" #email="ngModel"required/><br>
          <p style="color:red">{{ error }}</p>
          <input class="buttonPrijaviSe" type="submit" value="Prijavi se">

      </form>
    </div>

    <div id="registracija" class="right registracija">
        <img src="../assets/images/logo4.png" width="140" height="70" alt="">
        <i class="far fa-times-circle fa-3x icon-x-reg closeBtn"></i>
        <h1>Registracija</h1>
        <form #formData="ngForm" ngNativeValidate name="prijava" (ngSubmit)="dodajKorisnika(formData)">
          <input class="input" [(ngModel)]="korisnik.email" type="email" name="email" placeholder="E-mail" required/><br>
          <input class="input" [(ngModel)]="korisnik.lozinka" type="password" name ="lozinka" placeholder="Lozinka" required/><br>
          <input class="input" type="password" name ="lozinka" placeholder="Ponovi lozinku" required/><br>
          <input class="buttonPrijaviSe" type="submit" value="Registriraj se">
      </form>

    </div>
</section>
</div>
